name: "Release"
on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"
permissions:
  contents: write # to be able to publish a GitHub release
  # issues: write # to be able to comment on released issues
  # pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance

jobs:
  Release:
    if: |
      github.ref == 'refs/heads/master' &&
      github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: node release.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
